---
import Layout from "../layouts/Layout.astro";
import Faq from "../components/faq.astro";
import Letschat from "../components/letschat.astro";
import Services from "../components/services.astro";
import Custom from "../components/custom.astro";
import Header from "../components/header.astro";
import Newagency from "../components/newagency.astro";
import Introwithscreenshot from "../components/introwithscreenshot.astro";
import Bandwithvideos from "../components/bandwithvideos.astro";
import Firstdetails from "../components/firstdetails.astro";
import Testimonials from "../components/testimonials.astro";
import Features from "../components/features.astro";
import IntroTitle from "./../components/intro_title.astro";
---

<Layout
    title="Alzo, la mémoire d'agence qui accélère votre communication et vos réponses aux marchés publics, pour architectes et bureaux d'études"
>
    <!-- Début de widget de lien Calendly -->
    <link
        href="https://assets.calendly.com/assets/external/widget.css"
        rel="stylesheet"
    />
    <script
        src="https://assets.calendly.com/assets/external/widget.js"
        type="text/javascript"
        async></script>
    <!-- Fin de widget de lien Calendly -->
    <main>
        <Header />
        <!-- <Newagency /> -->
        <Introwithscreenshot />
        <Bandwithvideos />
        <IntroTitle />
        <Firstdetails />
        <Testimonials />
        <Features />
    </main>
    <Custom />
    <Services />
    <Letschat />
    <Faq />
</Layout>
