---

---

<div
    class="bg-[#E7ECC8] text-center text-darkmossgreen text-md md:text-2xl pt-4 md:pt-8 pb-4 md:pb-8"
>
    Une seule saisie → Tous vos supports
</div>
<!--<div
    class="bg-[#E7ECC8] flex min-w-full px-2 md:px-10 overflow-x-scroll overflow-y-visible py-4 md:py-10 gap-4 md:gap-8 text-xs md:justify-center"
>
    <video
        src="/videos/fiches_a4.mp4"
        playsinline
        muted
        autoplay
        loop
        class="z-20 md:ml-32 basis-86 min-w-86 shrink-0 h-48 md:h-52 object-cover border border-white transition-opacity rounded-md overflow-hidden shadow-6xl"
        style="transition-duration: 1s"></video>
    <video
        src="/videos/liste_refs.mp4"
        playsinline
        muted
        autoplay
        loop
        class="z-20 basis-86 min-w-86 shrink-0 h-48 md:h-52 object-cover border border-white transition-opacity rounded-md overflow-hidden shadow-6xl"
        style="transition-duration: 1s"></video>
    <video
        src="/videos/fiches_a3.mp4"
        playsinline
        muted
        autoplay
        loop
        class="z-20 basis-86 min-w-86 shrink-0 h-48 md:h-52 object-cover border border-white transition-opacity rounded-md overflow-hidden shadow-6xl"
        style="transition-duration: 1s"></video>
    <video
        src="/videos/alzo_web.mp4"
        playsinline
        muted
        autoplay
        loop
        class="z-20 basis-86 min-w-86 shrink-0 h-48 md:h-52 object-cover border border-white transition-opacity rounded-md overflow-hidden shadow-6xl"
        style="transition-duration: 1s"></video>
</div>-->
