---

---

<section
    class="bg-[#7D8922] shadow-2xl text-[#EEF3CE] ext-center p-4 md:p-10 overflow-hidden relative"
>
    <p class="fs-t6 pt-4 md:pt-0 mb-4 max-w-[50ch] mx-auto text-center">
        Alzo comprend de nombreuses&nbsp;fonctionnalités.<br />Chaque agence,
        chaque bureau d'études, est&nbsp;spécifique.<br />Nous réalisons des
        extensions pour répondre à vos besoins précis.
    </p>
</section>
