---
import Generators from "./features/generators.astro";
---

<section class="bg-isabelline text-brand text-center py-10 relative w-full">
    <h2 class="md:text-6xl text-4xl mb-8">Fonctionnalités</h2>

    <div class="p-4 w-full overflow-hidden">
        <Generators />
    </div>
</section>
