---
import Memory from "./features/memory.astro";
import Collab from "./features/collab.astro";
import Tech from "./features/tech.astro";
---

<section class="bg-isabelline text-brand text-center py-10 relative w-full">
    <div class="p-4 w-full overflow-hidden">
        <Memory />
        <Collab />
        <Tech />
    </div>
</section>
