---

---

<section
    class="bg-[#F8F6F2] shadow-2xl text-brand p-4 md:p-10 overflow-hidden relative"
>
    <div class="relative mx-auto w-full max-w-[1440px] pb-4 md:pb-[60px]">
        <div
            class="flex flex-col md:flex-row my-4 md:my-20 align-center justify-between"
        >
            <div
                class="basis-1/2 p-0 md:p-2 text-left flex flex-col justify-center"
            >
                <h3 class="md:text-5xl mb-2 md:mb-4 text-xl">
                    Communiquez efficacement
                </h3>
                <p class="md:text-xl text-base max-w-[45ch]">
                    Générez en quelques secondes vos présentations, fiches
                    projet, listes de références, CV, kits presse, books, ou
                    encore votre site internet, tout en respectant votre
                    identité visuelle.
                    <br />
                    Vos réponses aux marchés publics sont plus rapides, plus cohérentes
                    et sans erreur.
                </p>
            </div>
            <div class="basis-1/2 p-2">
                <img
                    class="w-[65%] h-auto mx-auto mt-4 md:mt-0"
                    style="filter:contrast(5)"
                    src="/decals/magic.png"
                />
            </div>
        </div>
        <hr class="border-none h-[1px] bg-brand" />
        <div
            class="flex flex-col md:flex-row my-4 md:my-20 align-center justify-between"
        >
            <div
                class="basis-1/2 p-0 md:p-2 text-left order-0 md:order-1 flex flex-col justify-center"
            >
                <h3 class="md:text-5xl mb-4 text-xl">N'égarez plus rien</h3>
                <p class="max-w-[45ch] text-base md:text-xl">
                    Terminé les tableaux Excel, les documents Word, les disques
                    durs au fond d’un tiroir, les dossiers perdus sur votre
                    serveur...
                    <br />
                    → Recherchez de manière intuitive.<br />
                    → Filtrez vos projets par échelles, partenaires, intervenants,
                    dates, matériaux, parti-pris formels, et plus encore.<br />
                    → Explorez vos données pour en dégager des tendances et statistiques.
                </p>
            </div>
            <div class="basis-1/2 p-2">
                <img
                    class="w-[50%] mt-4 md:mt-0 h-auto mx-auto"
                    style="filter:contrast(5)"
                    src="/decals/map.png"
                />
            </div>
        </div>
    </div>
</section>
