---

---

<section
    class="bg-brand text-white pt-20 md:pt-28 text-center p-4 md:p-10 shadow-md overflow-hidden relative"
>
    <h1 class="md:text-4xl xl:text-6xl text-md leading-none">
        La mémoire d'agence<br />qui accélère votre communication <br
        />et&nbsp;vos&nbsp;réponses&nbsp;aux&nbsp;marchés&nbsp;publics
    </h1>
    <h2 class="text-sm font-[Inter] md:text-xl mt-2">
        Pour architectes et bureaux d'études
    </h2>
    <div class="relative mx-auto w-full max-w-[1440px]">
        <img
            src="/screen.png"
            class="shadow-md relative -bottom-4 md:-bottom-16 w-[75%] max-w-[840px] h-auto mx-auto"
            alt=""
        />
    </div>
</section>
