---

---

<section
    class="bg-brand text-white pt-20 md:pt-20 text-center p-4 md:p-10 shadow-md overflow-hidden relative"
>
    <h1 class="md:text-4xl text-xl leading-none">
        La mémoire d'agence<br />qui accélère votre communication <br
        />et&nbsp;vos&nbsp;réponses&nbsp;aux&nbsp;marchés&nbsp;publics
    </h1>
    <h2 class="text-sm font-[Inter] md:text-xl mt-2">
        Pour architectes et bureaux d'études
    </h2>
    <div class="relative mx-auto w-full max-w-[1440px]">
        <video
            class="rounded-md shadow-2xl max-w-[960px] mx-auto mt-4 w-full"
            src="/videos/alzo_40s.mp4"
            playsinline
            muted
            autoplay
            loop></video>
    </div>
</section>
