---

---

<section
    class="bg-brand shadow-2xl text-isabelline ext-center p-4 md:p-10 overflow-hidden relative"
>
    <p class="fs-t6 pt-4 md:pt-0 mb-4 max-w-[50ch] mx-auto text-center">
        Avec Alzo, vos projets sont centralisés dans une base de données, vous
        permettant de générer en un clic l'ensemble de vos supports de
        communication.
    </p>
</section>
