---

---

<section
    class="bg-[#FF4000] shadow-2xl text-[#F8F6F2] ext-center p-4 md:p-10 overflow-hidden relative"
>
    <h2 class="fs-t1 mb-4 text-center">Discutons-en !</h2>
    <p
        class="text-md
        md:text-xl
        leading-tight
        mb-4
        mx-auto
        max-w-[65ch]
        text-center"
    >
        Que vous soyez architecte, ou communiquant pour architectes, alzo peut
        vous aider. Nous proposons des créneaux de 30 minutes en visio pour une
        première rencontre.<br /><br />Prenez rendez-vous ci-dessous ou
        écrivez-nous à <a class="underlined" href="mailto:contact@alzo.archi"
            >contact@alzo.archi</a
        >.
    </p>
    <div class="flex">
        <button
            class="block btn btn-xl mx-auto relative top-1 mt-4 md:top-[.25em] border-none hover:-translate-y-[0.15em] hover:border-none hover:shadow-xl bg-isabelline text-brand hover:bg-isabelline rounded-full"
            onclick="Calendly.initPopupWidget({url: 'https://calendly.com/contact-lucassifoni/30min?hide_gdpr_banner=1&background_color=f8f6f2&primary_color=fd4f00'});return false;"
            >Demander une démo (visio, 30mn)</button
        >
        <iframe
            data-w-token="ba704ae7be8ce126ce90"
            data-w-type="trigger"
            frameborder="0"
            scrolling="no"
            marginheight="0"
            marginwidth="0"
            src="https://xrx0q.mjt.lu/wgt/xrx0q/xzmj/trigger?c=02de9bf6"
            width="100%"
            style="height: 0;position: fixed; left: -9999px"></iframe>
    </div>
    <iframe
        data-w-token="ba704ae7be8ce126ce90"
        data-w-type="pop-in"
        frameborder="0"
        scrolling="yes"
        marginheight="0"
        marginwidth="0"
        src="https://xrx0q.mjt.lu/wgt/xrx0q/xzmj/form?c=480669d2"
        width="100%"
        style="height: 0;"></iframe>
    <script is:inline>
        window.__trigger_nl = function () {
            postMessage({
                eventId: "openWidgetModal",
                widgetId: "ba704ae7be8ce126ce90",
            });
        };
    </script>
    <script
        type="text/javascript"
        src="https://app.mailjet.com/pas-nc-pop-in-v1.js"></script>
    <button
        class="block btn btn-xl mx-auto relative top-1 mt-4 md:top-[.25em] border-none hover:-translate-y-[0.15em] hover:border-none hover:shadow-xl bg-isabelline text-brand hover:bg-isabelline rounded-full"
        onclick="__trigger_nl();">Inscrivez-vous à notre newsletter</button
    >
</section>
