---

---

<div
    id="new-agency-popover"
    class="fixed z-30 bottom-2 shadow-2xl left-[50%] p-4 -translate-x-[50%] border border-carolinablue bg-[#DCF0FF] text-[#0085C8] rounded-xl w-full max-w-[300px]"
>
    <h3 class="text-md relative -top-1">Jeune agence ou bureau d'étude ?</h3>
    <p class="text-sm leading-tight">
        Adopter alzo au début de votre parcours vous aidera à naviguer la
        pratique des marchés publics.<br />Nous adaptons nos tarifs pour les
        jeunes agences et collectifs.
    </p>
    <button
        class="absolute bg-none border-none top-2 right-4"
        onclick="document.querySelector('#new-agency-popover').style.display = 'none'"
        >&times;</button
    >
</div>
