---

---

<section
    class="bg-[#EEF3CE] shadow-2xl text-[#7D8922] text-center p-4 md:p-10 overflow-hidden relative"
>
    <h2 class="fs-t1 mb-4 text-center">Services complémentaires</h2>
    <p
        class="text-md md:text-xl leading-tight mb-4 mx-auto max-w-[65ch] text-center"
    >
        Alzo vous intéresse, mais vous ne savez pas si vous aurez le temps de
        remplir les données, prendre en main l'outil, ou bien vous pensez qu'il
        vous manque une fonctionnalité ?
    </p>
    <p
        class="text-md md:text-xl leading-tight mb-4 mx-auto max-w-[65ch] text-center"
    >
        Nous pouvons venir sur place, importer vos données de sources variées,
        vous former, échanger avec vous et développer des fonctionnalités sur
        mesure.
    </p>
</section>
