---

---

<div
    class="hidden md:flex justify-center gap-8 gap-x-4 sticky top-14 bg-isabelline p-4 z-20 w-full shadow-md"
>
    <a
        href="#gen-documents"
        data-fades-by-scroll=""
        class="border border-brand transition bg-brand text-white rounded-full p-2"
        >Génération de documents</a
    >
    <a
        href="#memoire-agence"
        data-fades-by-scroll=""
        class="border border-brand transition rounded-full p-2"
        >Mémoire d'agence</a
    >
    <a
        href="#collaboration"
        data-fades-by-scroll=""
        class="border border-brand transition rounded-full p-2">Collaboration</a
    >
    <a
        href="#integration-technique"
        data-fades-by-scroll=""
        class="border border-brand transition rounded-full p-2"
        >Intégrations et technique</a
    >
</div>
