---
interface Props {
    title: string;
}

const { title } = Astro.props;
import _style from "./style.css";
---

<!doctype html>
<html lang="fr_FR" data-theme="light">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="description"
            content="Alzo, la mémoire d'agence qui accélère votre communication et vos réponses aux marchés publics, pour architectes et bureaux d'études."
        />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta property="og:image" content="/share.png" />
        <script
            is:inline
            async
            defer
            data-domain="alzo.archi"
            src="https://stats.documents.design/js/plausible.js"></script>
        <link rel="shortcut icon" href="/fav_alzo.svg" type="image/x-icon" />
        <link rel="stylesheet" href="/style.css" />
        <title>{title}</title>
    </head>
    <body>
        <slot />
        <footer class="bg-[#F8F6F2] text-[#FF4000] fs-t3 p-[48px] text-center">
            <img
                class="h-12 mx-auto mb-4 mt-[.35em] block border-none"
                src="/alzo.svg"
            />
            <p class="text-[12px] leading-tight">
                Alzo est édité par <br />
                Lucas Sifoni / Turing-Express, 32490 Castillon-Savès, Gers<br />
                Entreprise Individuelle — SIREN 799 377 452<br
                />contact@turing-express.fr<br /><br />Tous droits réservés © <a
                    class="underlined"
                    target="_blank"
                    href="https://turing-express.fr"
                    >Lucas Sifoni / turing-express</a
                > 2024<br />
                Identité © <a
                    class="underlined"
                    href="https://laurasavignac.com"
                    target="_blank">Laura Savignac, graphiste</a
                >
            </p>
            <br />
            <div class="text-[8px] leading-none">
                Font 1 : Karrik by Jean-Baptiste Morizot, Lucas Le Bihan.
                Distributed by velvetyne.fr<br />Font 2 : Inter Tight by Rasmus
                Andersson. Distributed by Google Fonts
            </div>
        </footer>

        <script is:inline>
            (function () {
                if (window.location.href.includes("?cal=1")) {
                    var i = 0;
                    var it = setInterval(() => {
                        if (i > 100) {
                            clearInterval(i);
                        }
                        i++;
                        if (typeof Calendly !== "undefined") {
                            setTimeout(() => {
                                Calendly.initPopupWidget({
                                    url: "https://calendly.com/contact-lucassifoni/30min?hide_gdpr_banner=1&background_color=f8f6f2&primary_color=fd4f00",
                                });
                                return false;
                            }, 300);
                            clearInterval(i);
                        }
                    }, 100);
                }
            })();
        </script>
    </body>
</html>
